.cardContainer {
  display: flex;
  flex-direction:column;
  background-color: hwb(160 50% 0%);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
}

.cardContainer:hover {
  transform: scale(1.05);
}


.cardImg {
  width: 200px ;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.detailsTx {
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 70px;
border-radius: 50%;
background-color: #3498db; /* Puedes cambiar el color de fondo */
color: #fff; /* Puedes cambiar el color del texto */
text-decoration: none;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
transition: background-color 0.3s ease;
}











/* .card {
  background-color: var(--black);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  text-align: center;
  transition: transform 0.2s;
  width: 300px;
  height: 412px;
  border: 3px solid var(--main-orange);

}

.card:hover {
  transform: scale(1.05);
}

.cardImg {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.cardName {
  font-family: var(--title-font);
  font-size: 1.2rem;
  color: var(--main-red);
  margin-top: 12px;
  flex: 1;
} */