.SearchBar {
    text-align: left;
    margin: 25px;

  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  